.button{
    text-align: center;


}
#p1{

    text-align: center;

}

#deletebtn{
    background-color: #f78585;
    color: red;
}

#donebtn{
    background-color: #c9e2fc;
    color: #42a7f4;
}

#addbtn{

    color: green;
    background-color: #b6f9c7;
   

}




#head1{
background-color: #333534;
color: #bdbfbe;

}

#head2{
    background-color: #333534;
    color: #bdbfbe;
    
    }


#foot1{
    background-color: #333534;
    color: #bdbfbe;
    
    }

#foot2{
    background-color: #333534;
    color: #bdbfbe;
        
}

.responsive {
    width: 100%;
    height: auto;
  }